<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PLCTool.Machine" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="mk60y3Sq+DamzCmuiT2ybZIptpT/eYyUdB5hTTeGycTp0EayfXWjGcaA3VQ4yjrBg7qg2kPvlhWRlu5L9HniNaXVpp2sMuN2+8TS3GUrxRHn2lp3ADquVXAgIUpqdzU+UZH5bkkmzLueXh00fICdVhZwbRF8wxU5pdRrHSJHhEscZ7i9JP3J+7q1QyzoGUMuxIv9RJz9Y/0=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Language" value="zh-CN" />
    <add key="MachineType" value="1" />
    <add key="ShowWeight" value="1" />
    <add key="IP" value="192.168.0.9" />
    <add key="Port" value="502" />
    <add key="AutoLog" value="1" />
    <add key="CheckError" value="1" />
    <add key="ScanRate" value="20" />
    <add key="OnePlusLength" value="0.05" />
    <add key="IsClothOutShelf" value="0" />
    <add key="IsLeather" value="0" />
    <add key="IsWeijin" value="0" />
    <add key="AutoLoadSpeedSetting" value="1" />
    <add key="MaxSpeed" value="0.5" />
    <add key="ThicknessDisplacement" value="0.00" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>